<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hasoo.sample.mapper.AuthMapper">
	<select id="findByEmail" resultType="User" parameterType="String">
		select * from users where email = #{email}
	</select>
	<select id="findByRole" resultType="Role" parameterType="String">
		select * from roles where role = #{role}
	</select>
	<insert id="addRole">
		insert into user_role(
			  user_id
			, role_id
			)
		values(
			  #{param1}
			, #{param2}  
			)
	</insert> 
	<insert id="saveUser" parameterType="User">
		insert into users(
			  active
			, email
			, last_name
			, name
			, password
			)
		values(
			  #{active}
			, #{email}
			, #{lastName}
			, #{name}
			, #{password}
			)
	</insert>
</mapper>