<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AccountMapper">
	
	<resultMap type="com.example.demo.dto.Account" id="accountMap">
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="groupname" column="groupname"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="whiteip" column="whiteip"/>
		<result property="fee" column="fee"/>
		<result property="failureCount" column="failure_count"/>
		<result property="accountNonExpired" column="account_non_expired"/>
		<result property="accountNonLocked" column="account_non_locked"/>
		<result property="credentialsNonExpired" column="credentials_non_expired"/>
		<result property="enabled" column="enabled"/>
	</resultMap>

	<select id="findAccountByUsername" parameterType="String" resultMap="accountMap">
		select
			  username
			, password
			, groupname
			, name
			, email
			, whiteip
			, fee
			, failure_count
			, account_non_expired
			, account_non_locked
			, credentials_non_expired
			, enabled
		from account where username = #{username}
	</select>

	<select id="findAccountRolesByUsername" resultType="AccountRoles" parameterType="String">
		select * from account_roles where username = #{username}
	</select>

	<select id="findRolesByUsername" resultType="String" parameterType="String">
		select role from account_roles where username = #{username}
	</select>

	<insert id="saveAccount" parameterType="Account">
		insert into account (
			  username
			, password
			, groupname
			, name
			, email
			, whiteip
			, fee
			, account_non_expired
			, account_non_locked
			, credentials_non_expired
			, enabled
		) values (
			  #{username}
			, #{password}
			, #{groupname}
			, #{name}
			, #{email}
			, #{whiteip}
			, #{fee}
			, #{accountNonExpired}
			, #{accountNonLocked}
			, #{credentialsNonExpired}
			, #{enabled}
		)
	</insert>
	
	<insert id="saveAccountRoles">
		insert into account_roles (
			  username
			, role
		) values (
			  #{username}
			, #{role} 
		)
	</insert>

	<delete id="deleteAccountRoles" parameterType="String">
		delete from account_roles where username = #{username} and role = #{role}
	</delete>
	
	<select id="findFailureCountByUsername" resultType="int" parameterType="String">
		select failure_count from account where username = #{username}
	</select>
	
	<update id="updateFailureCount">
		update account set failure_count = #{count} where username = #{username}
	</update>

	<update id="updateFailureCountPlusOne" parameterType="String">
		update account set failure_count = failure_count+1 where username = #{username}
	</update>

</mapper>