<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HistoryLogMapper">
	
	<insert id="saveHistoryLog" parameterType="HistoryLog">
		insert into history_log (
			  type
			, username
			, ip
			, memo
			, res_date
		) values (
			  #{type}
			, #{username}
			, #{ip}
			, #{memo}
			, #{resDate}
		)
	</insert>
	
	<select id="findByUsername" resultType="HistoryLog" parameterType="String">
		select * from history_log where username = #{username}
	</select>

</mapper>